html {
  overflow-y: scroll;

  font-size: $font-size;
}
body {
  font-family: $font-main;
  font-size: $font-size;
}
section {
  position: relative;

  overflow: hidden;
}

a {
  color: $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}


h1 {
  margin: 0;
  margin-top: -7.5px;
  margin-bottom: ($gap * 3);

  font-family: $font-header;

  @include xs-min {
    margin: -7.5px 0 45px;

    font-size: 3rem;
  }
  @include xs {
    margin: 0 0 30px;

    font-size: 2rem;
  }

  &::after {
    @extend %h1-h2-after;
  }
}

h2 {
  @include xs-min {
    margin: 60px 0 45px 45px;

    font-size: 2.5rem;
  }
  @include xs {
    margin: 45px 0 30px 45px;

    font-size: 1.75rem;
  }

  &::before {
    position: absolute;
    left: 0;

    width: 30px;
    margin: 0.25em 0 0 0;

    content: "";

    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }

  &::after {
    @extend %h1-h2-after;
  }
}

h3 {
  @include xs-min {
    font-size: 1.5rem;
  }
  @include xs {
    font-size: 1.25rem;
  }

  a {
    transition: color 0.25s;
  }
}
