%text-shadow {
  text-shadow: 0 0 5px darken($color-dark, 14%), 0 0 10px darken($color-dark, 14%), 0 0 20px darken($color-dark, 14%);
}

%margin-bottom-lg {
  margin-bottom: 80px;
}


%new-top-title {
  display: block;
  overflow: hidden;

  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 1rem;
  font-weight: bold;
}

%new-top-row {
  margin-right: -($gap / 2);
  margin-bottom: -$gap;
  margin-left: -($gap / 2);
}

%new-top-item {
  margin-bottom: $gap;
  padding-right: $gap / 2;
  padding-left: $gap / 2;
}

%new-top-image {
  width: 100%;
}

%new-top-thumbnail {
  margin-bottom: 0;

  transition: background-color 0.25s;
  text-align: center;
}

%hover-thumbnail-main {
  border-color: $color-accent;
  background-color: $color-accent;
}

%h1-h2-after {
  position: absolute;

  width: 100%;
  margin: 0.85em 0 0 15px;

  content: "";

  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}
