%text-shadow {
    text-shadow: 0 0 5px darken($color-dark, 14%), 0 0 10px darken($color-dark, 14%), 0 0 20px darken($color-dark, 14%);
}

%margin-bottom-lg {
    margin-bottom: 80px;
}


%new-top-title {
    display: block;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%new-top-row {
    margin-left: -($gap / 2);
    margin-right: -($gap / 2);
    margin-bottom: -$gap;
}

%new-top-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;
}

%new-top-image {
    width: 100%;    
}

%new-top-thumbnail {
    margin-bottom: 0;
    text-align: center;
    transition: background-color 0.25s;
}

%hover-thumbnail-main {
    border-color: $color-accent;
    background-color: $color-accent;
}

%h1-h2-after {
    position: absolute;
    width: 100%;
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
    content: "";
    margin: 0.85em 0 0 15px;
}
