.header {
  @extend %margin-bottom-lg;
}
.header-logo {
  padding: 100px 0;

  text-align: center;

  background-color: $color-dark;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;;

  &__title {
    display: block;

    margin-right: -$gap;

    letter-spacing: 0.33em;

    color: $color-accent;

    font-family: $font-header;
    font-size: 3.5rem;

    @extend %text-shadow;
    @include xs-min {
      margin-right: -$gap;

      letter-spacing: 0.33em;

      font-size: 3.5rem;
    }
    @include xs {
      margin-right: -$gap / 2;

      letter-spacing: 0.2em;

      font-size: 2.5rem;
    }
  }

  &__description {
    display: block;

    letter-spacing: 0.2em;

    color: $color-light;

    font-size: 1.15rem;

    @extend %text-shadow;
  }
}
