.left-sidebar {
  @extend %margin-bottom-lg;
  .panel:last-of-type {
    margin-bottom: 0;
  }
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;

  &__image {
    width: 100%;
  }
}
.user-login {
  position: relative;

  &__tabs {
    position: absolute;
    top: 0;
    right: 10px;

    border: none;
  }

  a {
    padding: 14px 5px 11px !important;

    color: $color-gray;
    border: none !important;
    background-color: transparent !important;
  }
  .active a {
    color: $color-light !important;
  }
}
.site-news-item {
  position: relative;

  clear: both;

  &:not(:last-child) {
    min-height: 85px;
    margin-bottom: 15px;

    &::after {
      position: absolute;
      right: 0;
      bottom: -5px;

      width: calc(100% - 85px);
      height: 1px;

      content: "";

      background-color: $color-gray;
    }
  }

  &:hover {
    a {
      color: $color-accent;
    }

    .site-news-item__image {
      background-color: $color-accent;
      background-color: $color-accent;
    }
  }

  &__image {
    float: left;

    width: 75px;
    margin: 0 10px 10px 0 ;
  }

  &__title {
    margin-bottom: 10px;

    a {
      transition: color 0.25s;

      @include block-shortener(1rem, 1.5, 50px, 2);
    }
  }

  &__date {
    text-align: right;

    color: darken($color-gray, 30%);

    font-size: 0.8rem;
  }
}
.thumbnail {
  transition: background-color 0.25s;
}
.top-films {
  &__body {
    padding-right: 0;
    padding-left: 0;
  }
  &__item {
    margin-right: -1px;
    margin-left: -1px;
    padding-right: 55px;

    color: $color-primary !important;
    background-color: transparent;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }
    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }
    &:hover,
    &:focus {
      color: $color-light !important;
      border-color: $color-accent;
      background-color: $color-accent !important;

      .badge {
        background-color: $color-dark;
      }
    }
  }
  &__badge {
    position: absolute;
    top: 50%;
    right: $gap;

    transform: translateY(-50%);
  }

  &__list {
    margin-bottom: 0;
  }
}
